################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordCount/.vs/WordCount/v16/Server/sqlite3
/WordCount/WordCountConsoleApp/obj/Debug
